@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  font-family: 'Open Sans', sans-serif;

}
/*B O D Y***************************/  
body{
 display: flex;
  flex-direction: column;
    box-sizing:border-box;
    margin: 0;
    padding:0;
    min-height: 100vh;
   /* font-family: 'Rubik', sans-serif;*/
   font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  li, a, button{
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style-type:none;
  }

  .nav_links li a {
    transition: all 0.3s ease 0s;
  }
  .nav_links li a:hover {
    color:#0088a9;
  }
    .sec{
    width: 100%;
    height: 800px;
  }
  .jecherche, .jesuis{
    width: 100%;
  }

  .welcome{
    font-size: 128px;
  }
  .pwelcome{
    font-size: 24px;
  }
  .content-1{
    padding-top: 350px;
  }
  .content-2{
    padding-top: 100px;
    font-size: 24px;

  }
  /*.round-image {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    margin-right: 20px; 
    float: left;
}*/
/* P R O F I L */
.profile-card{
  text-align:center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding:20px;
  border-radius: 10px;
}
.profile-image {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  margin-right: 20px; 
  object-fit:cover;
  margin-bottom: 10px;
}

.profile-image2 {
  width: 42px; 
  height: 42px; 
  border-radius: 50%; 
  margin-left: 20px; 
  margin-right:10px;
  object-fit:cover;
  margin-bottom: 10px;
}
/* P R O F I L*/

/* C A R D*/
.card{
  text-align:center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
}

/*C A R D*/

  button, .btn{
    padding:9px 25px;
    background-color: rgba(0,136,169,1);
    border:none;
    cursor: pointer;
    border-radius:50px;
  }
  button:hover{
    background-color: rgba(0,136,169,0.8);
  }
  .wwd{
    padding-top:50px ;
    padding-bottom: 50px;
  }
  .apropos, .last-sec{
    background-color: rgba(0,0,0,0.9);
  }
  .fa-user, .fa-users, .fa-receipt{
    padding-bottom: 30px;
  }

 /* .hwwd{
    padding-bottom: 30px;
  } */
  .pwwd{
    padding-top:30px ;
  }
  .text-us{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .contact{
    padding-left: 30px;
    padding-right: 15px;
  }
  .contact2{
    padding-top: 150px;
    padding-left: 50px;
    font-size: 10px;
  }
  .contact{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-left: 50px;
  }

/*form{
  padding-bottom: 250px;
}*/

  /*R E S P O N S I V E  - - - -   D E S I G N */
  @media (max-width:1564px) and (min-width:360px) {
    .welcome{
     font-size: 98px;
      
    }
    .content-2{
      width: fit-content;
      block-size: fit-content;
      padding-left: 50px;
      padding-right: 50px;
    }
    .prestations{
      block-size: max-content;
    }
  

  }
  @keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
  #video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    object-fit: cover; /* Cover entire viewport */
    z-index: -1; /* Place behind other content */
}

/* Style your content */
.content {
    position: relative;
    opacity: 1;
    z-index: 11; /* Place above the video */
    /* Add your content styles here */
}
.register{
  display: flex;
  padding-top: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.workerregister, .customerregister{
  display: flex;
  padding-top: 100px;
  padding-bottom:px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filtres{
  display: flex;
  padding-top: 50px;
  padding-bottom:100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filtrespage{
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}
/*F  O  O  T  E  R*/
.footer-col{width:25%;padding:0 15px;}
.footer-col h4{font-size:18px;color:#0088a9;text-transform: capitalize;margin-bottom: 35px;font-weight: 500;position:relative;}
.footer-col h4::before{content:'';position:absolute;left:0;bottom:-10px;height:2px;box-sizing:border-box;width:50px;}
.footer-col ul li:not(:last-child){margin-bottom:10px;}
.footer-col ul li a{font-size:12px;text-transform:capitalize;font-weight:300;color:#bbbbbb;display: block;}
.footer-col .social-links a{display: inline-block;text-align: center;border-radius: 50%;transition: all 0.5s ease;}
.footer-col{height:300px;flex-shrink: 0;}

footer{
  background-color: #333;
  margin-top: auto;
  font-family: 'Open Sans', sans-serif;

}
/*F  O  O  T  E  R*/
.group-card{display:flex;justify-content:space-evenly;}
.cards{padding-top: 200px;}
 

.inscription{
  height: 100vh;
}

.profile-card.grayed{
  opacity: 0.1;
}



/* DUMMMY PROFILE*/

body {
  background-color: #ffffff;
  font-family: sans-serif;
}

header {
  background-color: #385591;
  padding: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.nom {
  margin-top: 20px;
}

.bouton {
  background-color: #ffffff;
  border: 1px solid #385591;
  padding: 10px 20px;
  cursor: pointer;
}

.biographie {
  margin-top: 20px;
  padding: 20px;
  background-color: #f7f7f7;
}

.statistiques {
  margin-top: 20px;
  padding: 20px;
  background-color: #f7f7f7;
}

.activités {
  margin-top: 20px;
  padding: 20px;
  background-color: #f7f7f7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
